.create-book {
    width: 600px;
    margin: 0 auto;
}

.field-container {
    margin-top: 20px;
}

.full-width {
    width: 100%;
}

.book-field {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.save-button {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.save-button:active {
    outline: none;
}
